Repository koralle/ts-react-vite-template: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  priority: 1
  run: 'pnpm prettier {staged_files} --write
  
    '
  stage_fixed: true

lint:
  priority: 2
  run: 'pnpm eslint {staged_files} --max-warnings 0
  
    '
  stage_fixed: true

chore: ran `prettier . -w`
  lefthook.yaml
Due: format

ci: update `action.yaml`
  .github/composite-actions/cache-and-install/action.yaml
Due: format

ci: update `ci.yaml`
  .github/workflows/ci.yaml
Due: format

feat: setup Storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.storybook.json
Due: format, lint

feat(gitignore): add `.eslintcache`
  .gitignore
Due: none

Path conditions:
  format: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts,css,scss,json,md,mdx,yml,yaml}
  lint: any of: *.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts}
